<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>


    <div class="col-6 bg-light my-4 border mx-auto text-center p-5">
      <p>退会の確認画面になります。</p>
      <br>
      <p>退会される場合は、「退会」をクリックして下さい。</p>
      <br>
      <br>
      <%= link_to "退会", withdraw_path(@user), method: :patch, class:"btn btn-outline-danger"%>
      <%= link_to "戻る", user_path(@user), class:"btn btn-outline-secondary ml-3" %>
    </div>

  </div>
</div>