<div class="container-fluid">
  <div class="row">

    <%= render "homes/sidebar" %>

    <div class="col-11 my-2 border">

      <div class="row">
        <div class="introduction w-100 text-center">
          ようこそ！バイク専用SNSサイトの「<i class="fas fa-biking"></i>KoKo-iiYo」へ！<br>
        </div>
      </div>

      <div class="row">
        <%= link_to posts_path do %>
          <h3>新着の投稿一覧</h3>
        <% end %>
      </div>

      <div class="row">
        <h3>人気の投稿一覧</h3>
      </div>

    </div>
  </div>
</div>