<div class="container-fluid">
  <div class="row">

    <%= render "homes/sidebar" %>

    <div class="col-11 my-2 border mx-auto">
      <h3>新着の投稿一覧</h3>
      <div class="row">

        <% @posts.each do |post| %>
          <div class="col-5 m-2 border">
            <%= post.title %>
            <%= post.body %>
          </div>
  
          <div class="col-6 my-2 mx-auto border" >
            <%= render "maps/index" %>
          </div>
        <% end %>

      </div>
    </div>
    
  </div>
</div>