<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 border mx-auto">
      <h3>投稿検索</h3>
      <div class="row">

        <div class="col-3 bg-light py-2 m-2 border">

        </div>

        <!--地図検索機能-->
        <div class="col-8 bg-light py-2 my-2 mx-auto text-center border" >

        </div>

      </div>

    </div>
  </div>
</div>