<%= render "homes/sidebar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-1" style="height: 1px;"></div>

    <div class="col-11 my-2 mx-auto">
      <h3>投稿検索</h3>
      <div class="container-fluid bg-light m-2 border">
        <%= render 'search', q: @q, url: search_index_posts_path %>
      </div>
    </div>

  </div>
</div>

<% if @check.present? %>
  <div class="container-fluid">
    <%= render "posts/post_lists", posts: @results, title:"検索結果" %>
  </div>
<% end %>
