/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 全体

a:hover {
  text-decoration: none;
}

body {
  background-image: image-url('wallpaper_00014.jpeg');
  background-attachment: fixed;
}

// header

.title {
  font-size: 40px;
  font-family: "Comic Sans MS";
  color: white;
  transition: all 0.3s;
}

.title:hover {
  font-size: 41px;
}

.navbar {
  height: 60px;
  opacity: 0.7;
  background-color: #008080;
  transition: all 0.3s;
}

.navbar:hover {
  opacity: 1.0;
}

body {
  padding-top: 65px;
}

.nav-item {
  display:inline-block;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.top_back {
  width:      50px;
  height:     50px;
}


// sidebar
.sidebar {
  padding-left: 0;
  position: fixed;
  top: 60px;
}


.sidebar-icon {
  background-color: #008080;
  padding-top: 60%;
  opacity: 0.7;
  color: white;
  height: 23vh;
  transition:all 0.3s;
}

.sidebar-icon p {
  font-size: 13px;
  margin-bottom: 0;
}

.sidebar-icon:hover {
  font-size: 20px;
  opacity: 1;
  color: #D6FF58;
}

// top

#notice {
  margin-left: 9%;
  margin-right: 2%;
}

.top {
  position: relative;
}

.introduction {
  width: 100%;
  position: absolute;
  top: 30%;
}

.main-intro {
  padding-bottom: 30px;
}

.introduction p {
  font-size: 18px;
}

.post_or_user_image {
  width: 100%;
  height: auto;
}

#box {
  width: 100%;
  height: 680px;
}

#images {
  background-color: #000000;
}

.image1 {
  background-image: url(topimage5.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image2 {
  background-image: url(topimage4.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image3 {
  background-image: url(topimage3.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image4 {
  background-image: url(topimage2.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image5 {
  background-image: url(topimage1.jpg);
  background-size: cover;
  opacity: 0.5;
}

.top-posts {
  background-color: white;
  a {
    color: black;
  }
  transition: all 0.5s;
}

.top-posts:hover {
  background-color: #b7d4d3;
}

.sub-title {
  color: black;
}

// 投稿検索

// ページネーション
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

.pagination>.active>a {
  color: #008080;     /*背景の色を変える*/
  border-radius: 8px;     /*角を丸くする*/
}

.pagination>li>a:hover {
  border-radius: 8px;    /*角を丸くする*/
}

// devise
#error_explanation {
  text-align: left;
}

// テキスト入力枠サイズ調整
.text_area {
  width: 100%;
  height: 100px;
}

.search_area {
  width: 60%;
}