/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-image: image-url('wallpaper_00014.jpeg');
  background-attachment: fixed;
}

.title {
  font-size: 40px;
  font-family: "Arial Black", "fantasy", "cursive";
}

.navbar {
  height: 60px;
  opacity: 0.7;
  background-color: #008080;
}
.sidebar-icon {
  background-color: #008080;
  opacity: 0.7;
  color: white;
}

// header
body {
  padding-top: 65px;
}
.logo {
  font-size:30px;
}

.nav-item {
  display:inline-block;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.top_back {
  width:      50px;
  height:     50px;
}


// sidebar
.sidebar-icon {
  height:23%;
}

.sidebar {
  position: fixed;
  top: 60px;
}

// top
.top {
  position: relative;
}

.introduction {
  position: absolute;
  top: 30%;
  left: 31%;
}

.introduction p {
  font-size: 18px;
}

#box {
  height: 680px;
}

#images {
  background-color: #000000;
}

.image1 {
  background-image: url(topimage5.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image2 {
  background-image: url(topimage4.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image3 {
  background-image: url(topimage3.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image4 {
  background-image: url(topimage2.jpg);
  background-size: cover;
  opacity: 0.5;
}

.image5 {
  background-image: url(topimage1.jpg);
  background-size: cover;
  opacity: 0.5;
}

